

.nav1{
    padding: 1rem;
    font-size:13px;
}
.nav2{
    margin-bottom: 0 !important;
}
 

.icono{
    padding: 0 .1rem;
}
.empresa{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 38px;
}
.textos{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
}
.textos2{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}
.imgs{
    background-color: rgba(0,0,0,0.8);
}
.parallax-container {
    height: "300px";
  }

  .textos3{
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}