@charset "utf-8";
.sttro.f {
    margin-left: 70px;
    font-size: 20px;
    cursor: pointer;
}
nav ul a {
    color: #333 !important;
}
a.brand-logo.sttro {
    margin: 12px;
}
a.sidenav-trigger.menu {
    color: #333;
}
.ocurrente.navbar-fixed {
    top: 0 !important;
    position: fixed;
}
.pt1 {
    margin-top: 64px;
}
.borderstrix {
    background: #0D47A1;
    width: 25%;
    height: 4px;
    margin: 16px auto 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.buttonable > a{
    width: 100% !important;
}
.marginBottom20{
    margin-bottom: 20px !important;
}
.marginBottom10{
    margin-bottom: 10px !important;
}
.btn.unactive {
    background: #CCC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: #888;
}
.btn.active {
    background: #3F51B5;
}
.sticky.active {
    position: fixed;
    top: 65px;
}
.sticky.mobile {
    position: fixed;
    bottom: 0;
    background: #FFF;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 56px;
    -webkit-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.6);
    -o-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 0 20px rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    -webkit-transitions: 300ms all;
}
.topper {
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}
.sticky.notOpen.mobile {
    top: auto;
    height: 60px;
}
.backgroundm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.normalText {
    font-size: 18px;
}
.marginTop50{
    margin-top: 50px;
}
.card-group{
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .sttro.f {
        margin-left: 10px;
        width: 70%;
        font-size: 18px;
    }
    .pt1 {
        margin-top: 56px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .sttro.f{
        margin-left: 0 !important;
        left: 20px;
        transform: none;
    }
    .pt1 {
        margin-top: 56px;
    }
}
@media only screen and (min-width: 1980px) {

}