marquee {
    font-size: 16pt;
    margin-left: 2vw;
}

.wrap-slider .item {
    position: relative;
}

.wrap-slider .item .text {
    position: absolute;
    z-index: 50;
    top: 10vh;
    left: 30vw;
}

.wrap-slider .item .text h2 {
    font-size: 26pt;
}

.wrap-slider .item .text p {
    font-size: 18pt;
}

.wrap-slider .item img {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 0;
}

.body {
    width: 100%;
    margin: unset;
    display: block;
    max-width: initial;
    margin: auto;
}

.container .row {
    width: 100%;
    margin: unset;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
}

.filtros .btn {
    margin-top: 10px;
}

.img-card {
    height: 150px;
    width: auto;
    display: block;
}

.separador {
    height: 4px;
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 2px;
}

.info {
    width: 68%;
    font-size: 16pt;
    display: block;
    margin: auto;
}